@import '../../style/theme/default.less';

.yuso-table {

  // 搜索
  &-search {
    margin-bottom: 16px;
    padding: 24px 24px 0;
    background: #fff;
  }

  // 工具栏
  &-toolbar {
    display: flex;
    align-items: center;

    &-wrap {
      display: flex;
      align-items: center;
    }

    &-align-right {
      justify-content: flex-end;
    }
  }

  &-column-set {
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 32px;
    }

    &-list {
      &-item {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 4px 16px 4px 0;
      }
    }
  }

  .react-resizable {
    position: relative;
    background-clip: padding-box;
  }

  &-resizable-handle {
    position: absolute;
    right: -5px;
    bottom: 0;
    z-index: 1;
    width: 10px;
    height: 100%;
    cursor: col-resize;
  }

  &-header-cell {
    height: 49px;
  }

  .drop-over-downward {
    border-right: 1px dashed @primary-color;
  }

  .drop-over-upward {
    border-left: 1px dashed @primary-color;
  }

  &-drop-handle {
    width: 100%;
    position: absolute;
    left: 0;
    padding: 16px;
    top: 0;
  }

  &-fullscreen {
    background-color: white;
  }
}