@import '../../style/theme/default.less';

// 工具栏
.yuso-toolbar {
    display: flex;
    align-items: center;
    height: 64px;
    padding: 0 24px;
    background-color: white;

    &-wrap {
      display: flex;
      align-items: center;
    }

    &-align-right {
      justify-content: flex-end;
    }
  }